<div class="mt-5">
    <!-- Título centrado -->
    <h2 class="text-center text-2xl font-bold text-gray-700 dark:text-gray-300 mb-4">
        Pagos de clientes sin aplicar
    </h2>

    <form class="flex items-center max-w-5xl mx-auto space-x-6">
        <!-- Botón "Agregar" -->
        <button type="button" [routerLink]="'/administracion/crearPagoCliente'"
            class="flex items-center px-4 py-2 text-sm font-medium text-white bg-primary rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <span class="ml-2">Agregar</span>
        </button>
    </form>

    <!-- Tabla -->
    <div class="relative overflow-x-auto mx-auto my-8 max-w-4xl">
        <table class="w-full text-left text-sm rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="text-center">
                    <th scope="col" class="px-6 py-3">
                        Numero Recibo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha Creacion
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tipo Pago
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Valor
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pagosClientesSinAplicarArray"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        {{ p.numeroRecibo}}
                    </th>
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        {{ p.fechaPago | date:'dd/MM/yyyy' }}
                    </th>

                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        {{ p.tipoPago.nombreTipoPago}}
                    </th>
                    <th scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        {{ p.valor | currency : "COP" : "symbol-narrow" : "1.0-0" }}
                    </th>

                    <td class="px-6 py-4 text-center">
                        <div class="flex justify-center space-x-4">
                            <button type="button"
                                class="p-2 text-white bg-primary rounded-full border-primary focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
                                title="Ver comprobante">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.458 12C3.732 7.943 7.522 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7s-8.268-2.943-9.542-7z" />
                                </svg>
                            </button>

                            <button type="button"
                                class="p-2 text-white bg-green-600 rounded-full hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300"
                                title="Aplicar pago manual" (click)="deletePagoCliente(p.idPagoCliente)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-2-5v-2h4v2h-4zm0-4V9h4v2h-4zm-2-2V7h8v2H8z" />
                                </svg>
                            </button>



                            <button type="button"
                                class="p-2 text-white bg-yellow-500 rounded-full hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300"
                                title="Aplicar pago automático" (click)="deletePagoCliente(p.idPagoCliente)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 2v20m10-10H2" />
                                </svg>
                            </button>

                            <button type="button"
                                class="p-2 text-white bg-red-600 rounded-full hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300"
                                title="Eliminar" (click)="deletePagoCliente(p.idPagoCliente)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 2.25h6a.75.75 0 0 1 .75.75v.75H20.25a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-.75.75H3.75a.75.75 0 0 1-.75-.75v-1.5a.75.75 0 0 1 .75-.75H7.5V3a.75.75 0 0 1 .75-.75zM5.25 9v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25V9H5.25z" />
                                </svg>
                            </button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>