<div class="mt-5">
  <h2 class="text-center text-2xl font-bold text-gray-700 dark:text-gray-300 mb-4">
    Liquidar vendedor
  </h2>

  <form class="flex items-center max-w-5xl mx-auto space-x-6">
    <!-- Formulario de búsqueda -->
    <form [formGroup]="formSearch" class="flex-grow">
      <select (change)="getFacturaByVendedor($event)" formControlName="dato"
        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 pl-10 p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="" disabled selected>Seleccione un vendedor</option>
        <option *ngFor="let u of usuariosArray" [value]="u.idUser">
          {{ u.name }} {{ u.lastname }}
        </option>
      </select>
    </form>
  </form>

  <div class="relative overflow-x-auto mx-auto my-8 max-w-4xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div *ngFor="let f of facturacionesArray"
        class="w-full max-w-xs bg-gray-100 border border-gray-300 rounded-lg shadow-md transform hover:scale-105 hover:shadow-lg dark:bg-gray-700 dark:border-gray-600 transition-all duration-300">
        <!-- Imagen -->
        <div class="w-full h-40 overflow-hidden rounded-t-lg relative group">
          <img class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500" [src]="
              f.productoCompraInventory.productoCompra.producto.imagenes.length > 0
                ? f.productoCompraInventory.productoCompra.producto.imagenes[0].urlPath
                : 'https://via.placeholder.com/200x300'
            " alt="Imagen del producto" />
          <div
            class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-70 transition-opacity duration-500">
          </div>
        </div>

        <!-- Contenido -->
        <div class="px-4 py-3">
          <h5 class="text-lg font-semibold text-gray-800 dark:text-white mb-1">
            {{ f.productoCompraInventory.productoCompra.producto.producto }}
          </h5>
          <h6 class="text-sm text-gray-600 dark:text-gray-300 mb-2">
            {{
            f.productoCompraInventory.productoCompra.producto.clasificacionProducto.clasificacionProducto
            }}
          </h6>
          <p class="text-sm text-gray-700 dark:text-gray-400 mb-3 truncate">
            {{ f.productoCompraInventory.productoCompra.producto.descripcion }}
          </p>

          <!-- Detalles -->
          <div class="flex items-center justify-between">
            <span class="text-lg font-bold text-blue-600 dark:text-blue-400">
              {{
              f.productoCompraInventory.productoCompra.costo
              | currency : 'COP' : 'symbol-narrow' : '1.0-0'
              }}
            </span>
            <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
              {{ f.productoCompraInventory.productoCompra.cantidad }} U
            </span>
          </div>
        </div>

        <!-- Botones -->
        <div class="text-center pb-4">
          <button *ngIf="!productosArray.includes(f.idProductoCompraFacturacion)"
            (click)="addProducto(f.idProductoCompraFacturacion)" type="button"
            class="text-white bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 font-medium rounded-lg text-sm px-4 py-2.5 transition-transform duration-300 hover:scale-105 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
            Liquidar
          </button>
          <button *ngIf="productosArray.includes(f.idProductoCompraFacturacion)"
            (click)="addProducto(f.idProductoCompraFacturacion)" type="button"
            class="text-white bg-gradient-to-r from-red-500 to-red-700 hover:from-red-600 hover:to-red-800 font-medium rounded-lg text-sm px-4 py-2.5 transition-transform duration-300 hover:scale-105 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="floating-button-container" *ngIf="productosArray.length > 0">
    <button class="floating-button fadeInFromBottom" (click)="createLiquidacion()">
      <div class="icon-container">
        <svg class="w-12 h-12 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd"
            d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <br />
      <div class="text-container">
        <span class="text">Guardar</span>
      </div>
    </button>
  </div>
</div>