<div class="h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-blue-500 text-center p-8 rounded-md w-[400px] h-[350px]">
        <h1 class="text-white text-3xl font-bold">Iniciar Sesión</h1>
        <hr class="mt-3 mb-6">
        <form action="" class="grid gap-10">
            <input type="email" placeholder="Ingrese su Correo" class="input">
            <input type="password" placeholder="Ingrese su Contraseña" class="input">
            <button class="button bg-orange-400 text-center">Ingresar</button>
        </form>
    </div>
</div>